<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <title>BimaXpress</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static '/plugins/fontawesome-free/css/all.min.css' %}" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="{% static 'https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' %}" />
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet"
        href="{% static '/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}" />
    <!-- iCheck -->
    <link rel="stylesheet" href="{% static '/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}" />
    <!-- JQVMap -->
    <link rel="stylesheet" href="{% static '/plugins/jqvmap/jqvmap.min.css' %}" />
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static '/dist/css/pageAccordian.css' %}" />
    <link rel="stylesheet" href="{% static '/dist/css/adminlte.min.css' %}" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />

    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="{% static '/plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}" />
    <!-- Daterange picker -->
    <link rel="stylesheet" href="{% static '/plugins/daterangepicker/daterangepicker.css' %}" />
    <!-- summernote -->
    <link rel="stylesheet" href="{% static '/plugins/summernote/summernote-bs4.min.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <style>
        body {
            text-transform: capitalize;
            background-color: white !important;
            background: white !important;
            font-family: 'Poppins', sans-serif !important;
        }

        .bigUpperCard {
            box-shadow: 0 4px 8px 0 rgb(85, 85, 85);
            padding: 1em 2em;
            border-radius: 20px;
        }

        .bigUpperCard:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }

        .normalText {
            font-size: 13px;
            font-weight: bold;
        }

        .smallText {
            font-size: x-small !important;
        }

        .logoCard {
            margin: 20px;
        }
    </style>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item ml-2 mr-2 d-none d-sm-inline-block">
          <img src="../static/img/Imgs/Asset 1.svg" height="40em" alt="" srcset="">
        </li>

      </ul>

      <!-- Right navbar links -->
      <ul class="navbar-nav ml-auto">

      </ul>

      <form action="/logout" method="POST">
                                    {% csrf_token %}
                                    <i class="ni ni-single-02 text-red"></i>
                                    <span class="nav-link-text"><input class="ml-3"
                                            style="border: none; background: transparent" type="submit"
                                            value="Logout" /></span>
                                </form>
    </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4"
      style="margin-top: 5em; max-height: 80%; background-color: #f4f6f9; color: black; border-top-right-radius: 20px;border-bottom-right-radius: 20px;">
      <!-- Brand Logo -->

      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
            <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
            <li class="nav-item menu-open" style="margin-left: -50px !important;">
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="/mainpage" class="nav-link active">
                    <i class="fas fa-home"></i>
                    <p>Home</p>
                  </a>
                </li>
                               
                <li class="nav-item">
                  <a href="bunny" class="nav-link active">
                    <i class="fas fa-envelope"></i>
                    <p>Email</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/newcase" class="nav-link active">
                     
                      <i style="color:black;" class="fas fa-plus"></i>
                      <p>New Case</p>
                    
                  </a>
                </li>
                 {% if role == 'admin' %}
                <li class="nav-item">
                  <a href="/plandetails" class="nav-link active" >
                    <i class="fas fa-clipboard-check"></i>
                    <p>Plan Details</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/hospital" class="nav-link active" >
                    <i class="fas fa-hospital-alt"></i>
                    <p>Hospital</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/analist" class="nav-link active" >
                    <i class="fas fa-user-circle"></i>
                    <p>Analyst</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/doctor" class="nav-link active" >
                    <i class="fas fa-user-nurse"></i>
                    <p>Doctor</p>
                  </a>
                </li>

                <li class="nav-item">
                  <a href="/empanelledCompanies" class="nav-link active" style="background-color: rgb(255, 166, 0);">
                    <i class="fas fa-calendar-check"></i>
                    <p>Empanelled Companies</p>
                  </a>
                </li>
                {% endif %}

              </ul>
            </li>
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>


        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper"
            style="padding-left: 5em !important; padding-right: 5em !important; background-color: white !important;">
            <div class="bigUpperCard">
            {{Empanelled_companies}}
                <div style="display: flex; justify-content: space-between;">
                    <h4 class="bigUpperCardHeading" style="font-weight: bold;">Empanelled Companies</h4>
                    <a href="empanelledCompanies/add">
                        <button
                            style="float: right !important; background-color: rgb(255, 166, 0); color: white; border-radius: 20px;"
                            class="btn btn-warning">+ Add Company</button>
                    </a> 
                </div>
                <div style="display: flex; margin-top: 30px; flex-wrap: wrap;">
                    
                {% for i,j in images.items %}
                    <a href="/sendcompany/{{i}}">  
                        <div class="logoCard" style="max-height: 100px !important; max-width: 100px !important;">
                            <img src="{{j}}" class="img-fluid" alt="insurance_logo" height="60%;" width="60%" srcset="">
                        </div> 
                    </a>
                {% endfor %}
                </div>
            </div>
        </div>


        <script src="{% static '/plugins/jquery/jquery.min.js' %}"></script>
        <!-- jQuery UI 1.11.4 -->
        <script src="{% static '/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
        <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
        <script>
            $.widget.bridge("uibutton", $.ui.button);
        </script>
        <!-- Bootstrap 4 -->
        <script src="{% static '/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <!-- ChartJS -->
        <script src="{% static '/plugins/chart.js/Chart.min.js' %}"></script>
        <!-- Sparkline -->
        <script src="{% static '/plugins/sparklines/sparkline.js' %}"></script>
        <!-- JQVMap -->
        <script src="{% static '/plugins/jqvmap/jquery.vmap.min.js' %}"></script>
        <script src="{% static '/plugins/jqvmap/maps/jquery.vmap.usa.js' %}"></script>
        <!-- jQuery Knob Chart -->
        <script src="{% static '/plugins/jquery-knob/jquery.knob.min.js' %}"></script>
        <!-- daterangepicker -->
        <script src="{% static '/plugins/moment/moment.min.js' %}"></script>
        <script src="{% static '/plugins/daterangepicker/daterangepicker.js' %}"></script>
        <!-- Tempusdominus Bootstrap 4 -->
        <script src="{% static '/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
        <!-- Summernote -->
        <script src="{% static '/plugins/summernote/summernote-bs4.min.js' %}"></script>
        <!-- overlayScrollbars -->
        <script src="{% static '/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>
        <!-- AdminLTE App -->
        <script src="{% static '/dist/js/adminlte.js' %}"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="{% static '/dist/js/demo.js' %}"></script>
        <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
</body>

</html>