{% load static%}

<!DOCTYPE html>
<html>

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" href="{%static '/dist/css/style.css'%}">

  <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  {% if title %}
  <title> django blog - {{title}}</title>
  {% else %}
  <title>django blog</title>
  {%endif%}


</head>
<script src="{% static '/dist/js/script_body.js' %}"></script>
<body>

  <!-- <div class="__header"> -->
  <div class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="header__left">
        <img src="https://www.bimaxpress.com/assets/img/Asset%201.png" alt="" width="243" height="60" />
      </div>

      <div class="wrapper">
        <div class="container">
          <!-- <div class="navbar-nav mr-auto"> -->
          <div class="search_wrap s3">
            <div class="search_box">
              <input type="text" class="input" placeholder="search...">
              <div class="btn btn_common" src="C:\Users\anish\Downloads\Email app assets\Email app assets\loupe.png">

              </div>
            </div>
          </div>
          <!-- </div> -->
        </div>
      </div>

    </nav>

  </div>
  
  <!-- </div> -->

  <div class="main__body">
    <div class="sidebar">
      <div class="sidebar__compose" role="button" onclick="click_handler()">Compose</div>

      <div class="active__tabs">
        <div class="tab__1 tab__1active">
          <div class="Inbox">
            <div class="inbox_img"></div>
            <a href="{%url 'bunny'%}" class="fnt"> Inbox </button>
          </div>
        </div>

        <div class="tab__1 tab__1active">
          <div class="Inbox">
            <div class="inbox_img"></div>
            <span class="inbox_msg">
              <a href="{%url 'sentmail'%}" class="fnt">Sent</a>
            </span>
          </div>
        </div>

        <div class="tab__1 tab__1active">
          <div class="Inbox">
            <div class="inbox_img"></div>
            <span class="inbox_msg">
              <a href="{%url 'trashmail'%}" class="fnt">Trash</a>
            </span>
          </div>
        </div>

        <div class="tab__1 tab__1active">
          <div class="Inbox">
            <div class="inbox_img"></div>
            <span class="inbox_msg">
              <a href="{%url 'draftmail'%}" class="fnt">Draft</a>
            </span>
          </div>
        </div>

        <div class="tab__1 tab__1active">
          <div class="Inbox">
            <div class="inbox_img"></div>
            <span class="inbox_msg">
              <a href="{%url 'starredmail'%}" class="fnt">Starred</a>
            </span>
          </div>
        </div>

      </div>
    </div>


    <div class="email__body">
      <!-- sort by started -->

      <div class="sort__boy">
        <button onclick="myFunction()" class="dropbtn">Sort By</button>
        <div id="myDropdown" class="dropdown-content">
          <a href="#date">Date</a>
          <a href="#name">Name</a>

        </div>
      </div>

      <!-- sort by ended -->
      <hr />

      <!-- email list started -->

      <div id='email__list' class='__emaillist'>
        {% for i in data %}
          <div class="single__email" id="singleemail_{{i.id}}">
            <div class="name__date">
              <div class="__name" id="name1">
                {{i.name}}
              </div>
              <div class="__datetime">
                <div class="__date" id="date1">
                  {{i.date}}
                </div>

                <div class="__time" id="time1">

                </div>
              </div>
            </div>

          <div class="__subject" id="sub1">
            {{i.subject}}
          </div>

          <div class="__message" id="msg1">
            message
          </div>
        </div>
        {%endfor%}
      </div>
    </div>

    <!-- email list ended -->

  

  <div class="email__msgbody">
    <div class="email__header">
      <div class="email__details">
        <div class="sender__details">
          <div class="sender__name" id="sname">
            <!-- Anish Shende -->
          </div>

          <div class="sender__email" id="mname">
            <span aria-hidden="true">
              <</span>
                <!-- anishshende001@gmail.com -->
                <span aria-hidden="true">></span>
          </div>
        </div>

        <span class="reciever__details" id="rname">
          <!-- anish@bimaxpress.com -->
        </span>
      </div>

      <div class="espace" style="width: 100px"></div>

      <div class="__delete"> del</div>
      <div class="__reply"> rep</div>
      <div class="__forward">fwd</div>
      <div class="__favourite">fav</div>
      <div class="time__date">time</div>
    </div>

    <hr />

    <div class="email__subject" id="sendersubject">

    </div>

    <div class="email__emailbody" id="sendermessage">

    </div>

    <div class="__attachments">

    </div>

    <div class="compose__box" id="__composebox" action="/bunny" style="display:none">
      
      <div class="compose__header">
        <div class="__composeFunctions">
          <span class="__composeClose" role="button" id="close__compose" onclick = "closefunction()">x</span>
          <!-- <span class="__composeMin" role="button" id="minimize__compose" onclick = "minfunction()">-</span> -->
         
        </div>
        <div class="messagetext">New Message</div>
        
      </div>
      <form method='POST' id="post-form">
        {% csrf_token %}

        <div class="form-input to">
          <!-- <label>To: </label> -->
          <input type="text" id="recvname" name="recv" placeholder="send mail to"/>
        </div>
        
        <div class="form-input bcc">
          <!-- <label>Bcc: </label> -->
          <input type="text" id="recvnameBcc" name="recvBcc" placeholder="bcc"/>
        </div>

        <div class="form-input cc">
          <!-- <label>Cc: </label> -->
          <input type="text" id="recvnameCc" name="recvCc" placeholder="cc" />
        </div>

        <div class="form-input sub">
          <!-- <label>subject: </label> -->
          <input type="text" id="send_subject" name="ssub" placeholder="subject of mail"/>
        </div>

        <div class="form-input mssg">
          <!-- <label>message: </label> -->
          <input type="text" id="send_msg" name="smsg" class="textarea" placeholder="mail message" />
        </div>

        <div class="sendattach">
          <input type="file" id="myFile" name="filenameupload" accept=".xlsx,.xls,image/*,.doc,audio/*,.docx,video/*,.ppt,.pptx,.txt,.pdf" multiple>
        </div>

        <div class="footer-bar">
          <div class="sendmailbtn">
            <input type="submit" value="Send Mail"/>
          </div>
        </div>
        
  
      </form>
    </div>
    
  </div>

  <!-- compose box -->
  

  </div>

  <script>

    var containerlist = document.getElementsByClassName('single__email');
    document.addEventListener('click', function (event) {
      var flag;
      flag = 0;
      for (i = 0; i < containerlist.length; i++) {
        container = containerlist[i];
        if (container !== event.target && !container.contains(event.target)) {
          flag = flag || 0;
        }
        else {
          flag = 1;
          i = containerlist.length - i - 1;
          x = i.toString();
          id_name = 'singleemail_'+x;
          var s_name = document.getElementById(id_name).getElementsByClassName('__name')[0].innerHTML;
          var s_date = document.getElementById(id_name).getElementsByClassName('__date')[0].innerHTML;
          var s_sub =  document.getElementById(id_name).getElementsByClassName('__subject')[0].innerHTML;
          var s_msg = "this is a message"; //document.getElementById('msg1').innerHTML;
          document.getElementById('sname').innerHTML = s_name;
          document.getElementById('mname').innerHTML = "anishshende001@gmail.com";
          document.getElementById('rname').innerHTML = "anish@gmail.com";
          document.getElementById('sendersubject').innerHTML = s_sub;
          document.getElementById('sendermessage').innerHTML = s_msg;
          break;
        }
      }
      if (flag == 1) {
        console.log('clicking inside the div');
      }
      else {
        console.log('clicking outside the div');
      }
    });

    //var composer = document.getElementsByClassName("sidebar__compose")[0];
    //console.log(composer);
    //document.addEventListener('click', function (event) {
      //if (composer !== event.target && !composer.contains(event.target)) {
        //var x = document.getElementById('__composebox');
        //x.style.display = "block";
        //console.log('clicked inside compose');
      //}
      //else console.log('clicked outside compose');
    //});

    function click_handler() {
      var x = document.getElementById('__composebox');
      if(x.style.display=="none"){
        x.style.display = "block";
      }
      else {
        x.style.display = "none";
      }
    };

    function closefunction() {
      var x = document.getElementById('__composebox');
      if(x.style.display=="none"){
        x.style.display = "block";
      }
      else {
        x.style.display = "none";
      }
    };
  </script>

  <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js">
    $(document).on('submit','#post-form',function(e){
      e.preventDefault();
      console.log('reached');
      $.ajax({
        type:'POST',
        url:"{% url 'create' %}",
        data:{
          to:$('#recvname').val(),
          subject:$('#sender_subject').val(),
          message:$('#sender_msg').val(),
          csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),

        },
        
        success: function (data) {
          console.log(data);
        }
      });
    });
  </script> -->

  <!-- <script>
    $('#post-form').on('submit', function(event){
      event.preventDefault();
      console.log("form submitted!")  // sanity check
      create_post();
  });

  function create_post() {
    console.log("create post is working!") // sanity check
    $.ajax({
        url : "create_post/", // the endpoint
        type : "POST", // http method
        data : { the_post : $('#post-text').val() }, // data sent with the post request

        // handle a successful response
        success : function(json) {
            $('#post-text').val(''); // remove the value from the input
            console.log(json); // log the returned json to the console
            console.log("success"); // another sanity check
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });
}; 
  </script> -->
  <!-- <script>
  function emaildisplay() {
    var node = document.createElement("LI");
    var textnode = document.createTextNode("Water");
    node.appendChild(textnode);
    document.getElementById("email__list").appendChild(node);
  };
</script> -->
  <!-- 
        <div class="single__email">
              <div class="name__date">
                <div class="__name">
                  Name
                </div>
                <div class="__datetime">
                  <div class="__date">
                    date
                  </div>

                  <div class="__time">
                    time
                  </div>
                </div>
              </div>

              <div class="__subject">
                subject
              </div>

              <div class="__message">
                message
              </div>
            </div>
       -->
  <!-- <script>
        /* When the user clicks on the button, 
        toggle between hiding and showing the dropdown content */
        function myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
        }
        
        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
          if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
              }
            }
          }
        }
      </script> -->

  <!-- Optional JavaScript -->
  
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>